* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #2b5876, #4e4376);
}

div {
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 50px;
    margin: 0 40px 40px 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px #000;
    font-size: 1.5em;
}

#btn-2 {
    display: none;
}

.container {
    width: 75%;
    height: 75%;
    background-image: url('../images/bled.jpg');
    background-size: cover;
}