<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Vue.js</title>
    <!-- DESCRIPTION -->
    <meta name='description' content='Débuts de vue.js'>
    <!-- CSS -->
    <link rel='stylesheet' href='css/main.css'>
    <!-- GOOGLE FONTS -->
    <!-- Roboto -->
    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet'>
    <!-- Quicksand -->
    <link rel='preconnect' href='https://fonts.gstatic.com'>
    <link href='https://fonts.googleapis.com/css2?family=Quicksand&display=swap' rel='stylesheet'>
    <!-- Bangers -->
    <link rel='preconnect' href='https://fonts.gstatic.com'>
    <link href='https://fonts.googleapis.com/css2?family=Bangers&display=swap' rel='stylesheet'>
    <!-- FONTAWESOME -->
    <script src='https://kit.fontawesome.com/29ef46100e.js' crossorigin='anonymous'></script>
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
</head>

<body>

    <!-- Hello Vue -->
    <div id="app1" class="section">
        <p class="titreDiv">Hello Vue</p>
        {{message}}
    </div>

    <!-- Chgt title élément texte + affichage date -->
    <div id="app2" class="section">
        <p class="titreDiv">title et date</p>
        <!-- v-bind:title => garde l’attribut title de cet élément à jour avec la propriété message de l’instance de Vue-->
        <span v-bind:title="message">Passer la souris sur ce texte !</span>
    </div>

    <!-- Conditions et boucles -->
    <div id="app3" class="section">
        <p class="titreDiv">Conditions et boucles</p>
        <p v-if="seen">Là vous me voyez !</p>
        <ol>
            <li v-for="todo in todos">{{todo.text}}</li>
        </ol>
    </div>

    <!-- Écouteurs d'événements -->
    <div id="app4" class="section">
        <p class="titreDiv">Écouteurs d'événements</p>
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Retourner le message</button>
    </div>

    <!-- Data binding -->
    <div id="app5" class="section">
        <p class="titreDiv">Data binding</p>
        <p>{{message}}</p>
        <input v-model="message">
    </div>

    <!-- Composants -->
    <div id="app6" class="section">
        <p class="titreDiv">Composants</p>
        <ol>
            <!--
                Nous fournissons à chaque todo-item l'objet todo
                qu'il représente de manière à ce que son contenu puisse être dynamique.
                Nous avons également besoin de fournir à chaque composant une « clé »,
                mais nous expliquerons cela plus tard.
            -->
            <todo-item
             v-for="item in groceryList"
             v-bind:todo="item"
             v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>

    <!-- JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src='js/main.js'></script>
</body>
</html>