* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

.horloge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 250px;
    border: 10px solid #111;
    background: linear-gradient(285deg, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 50%), url(../images/fond-espace3.jpg);
    background-size: cover;
    background-position: center;
    color: #f1f1f1;
    box-shadow: -1px 1px 4px 4px #111;
}

.clock:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: linear-gradient(285deg, rgba(0, 0, 0, 0.175) 50%, rgba(0, 0, 0, 0.175) 50%); */
}

.clock:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
}

.num {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 18px;
}

.num:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 10px;
    background-color: #f1f1f1;
}

.num1 {
    transform: rotate(30deg);
}
.num1 div {
    transform: rotate(-30deg);
}

.num2 {
    transform: rotate(60deg);
}
.num2 div {
    transform: rotate(-60deg);
}

.num3 {
    transform: rotate(90deg);
}
.num3 div {
    transform: rotate(-90deg);
}

.num4 {
    transform: rotate(120deg);
}
.num4 div {
    transform: rotate(-120deg);
}

.num5 {
    transform: rotate(150deg);
}
.num5 div {
    transform: rotate(-150deg);
}

.num6 {
    transform: rotate(180deg);
}
.num6 div {
    transform: rotate(-180deg);
}

.num7 {
    transform: rotate(210deg);
}
.num7 div {
    transform: rotate(-210deg);
}

.num8 {
    transform: rotate(240deg);
}
.num8 div {
    transform: rotate(-240deg);
}

.num9 {
    transform: rotate(270deg);
}
.num9 div {
    transform: rotate(-270deg);
}

.num10 {
    transform: rotate(300deg);
}
.num10 div {
    transform: rotate(-300deg);
}

.num11 {
    transform: rotate(330deg);
}
.num11 div {
    transform: rotate(-330deg);
}

.hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hand div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
}

.sec {
    width: 1px;
    height: 40%;
}

.min {
    width: 4px;
    height: 38%;
    border-radius: 2px;
}

.hour {
    width: 8px;
    height: 28%;
    border-radius: 8px;
}

.boutons {
    /* border: 1px solid #fff; */
    margin-top: 40px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boutons button {
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    box-shadow: -4px 4px 4px #000;
    outline: none;
}

#start {
    background-color: #27ae60;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
}

#stop {
    background-color: #e74c3c;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    display: none;
}

