* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

nav a {
    margin: 20px;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fff;
    text-decoration: none;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav2 {
    flex-direction: column;
    display: flex;
}

nav a:nth-child(1) {
    background-color: green;
    color: #fff;
}

nav a:nth-child(2) {
    background-color: yellow;
    color: #000;
}

nav a:nth-child(3) {
    background-color: mediumaquamarine;
    color: #000;
}

nav a:nth-child(4) {
    background-color: royalblue;
    color: #fff;
}

nav a:nth-child(5) {
    background-color: blanchedalmond;
    color: #000;
}

.boutonBurger {
    /* border: 1px solid #fff; */
    position: fixed;
    z-index: 5;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    display: none;
    cursor: pointer;
}

.ligne {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0ms 300ms;
}

.ligne::before {
    content: "";
    position: absolute;
    bottom: 10px;
    background-color: #fff;
    width: 100%;
    height: 4px;
}

.ligne::after {
    content: "";
    position: absolute;
    top: 10px;
    background-color: #fff;
    width: 100%;
    height: 4px;
}

#accueil {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #00b4db, #0083b0);
}


@media screen and (max-width: 800px) {
    .boutonBurger {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        left: 0;
        top: 60px;
        display: none;
    }

    nav a {
        margin: 2px;
    }
}