* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #2980b9;
    --green: #27ae60;
    --red: #c0392b;
    --yellow: #f1c40f;
    --orange: #d35400;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr 6fr 0.5fr;
    color: #fff;
    position: relative;
    background: linear-gradient(to bottom, #ece9e6, #ffffff);
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: linear-gradient(to right, #005c97, #363795);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: linear-gradient(to bottom, #ece9e6, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #ccc; */
    box-shadow: 2px 0 4px #ccc;
    z-index: 10;
}

nav p {
    margin-bottom: 40px;
    display: none;
}

nav a {
    text-decoration: none;
    color: #000;
    margin: 10px;
}

.boutonBurger {
    /* border: 1px solid #fff; */
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
    z-index: 25;
    position: relative;
}

.ligne {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4px;
    background-color: #fff;
}

.ligne::before {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 4px;
    background-color: #fff;
}

.ligne::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 4px;
    background-color: #fff;
}

.menuBurger {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #005c97, #363795);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: fixed;
    left: -100vw;
    top: 0;
    transition-duration: 0.3s;
}

.menuBurgerOpen {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #005c97, #363795);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

#accueil {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: linear-gradient(to bottom, #ece9e6, #ffffff);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background: linear-gradient(to right, #005c97, #363795);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 6fr 1fr;
    }

    header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-content: space-between;
    }

    header h2 {
        margin-left: 20px;
    }

    nav {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        flex-direction: row;
        display: none;
    }

    .boutonBurger {
        display: flex;
    }

    nav p {
        margin: 0;
        display: block;
    }

    #accueil {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    footer {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}



/* SLIDER BACKGROUND */

#slider {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 50px;
    margin: 40px 40px 0px 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px #000;
    font-size: 1.5em;
    cursor: pointer;
}

#btn-2 {
    display: none;
}

.container {
    width: 75%;
    height: 75%;
    background-image: url('../images/bled.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 5px #ccc;
}



#demarrage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
}



#monCV {
    width: 100%;
    height: 100%;
    display: none;
}


#retroMachin {
    width: 100%;
    height: 100%;
    display: none;
}