* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    height: auto;
    background-color: grey;
    display: flex;  /* inline-flex : le container prend sa taille en fonction de ses éléments. */
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 20px;
}

.container2 {
    justify-content: center;
}

.container3 {
    justify-content: flex-end;
}

.container4 {
    justify-content: space-between;;
}

.container5 {
    justify-content: space-around;
}

.item {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.item:nth-child(1) {
    height: 90px;
    order: 1;
}

.item:nth-child(2) {
    height: 25px;
    order: 2;
}

.item:nth-child(3) {
    height: 50px;
    order: 3;
}

.item:nth-child(4) {
    height: 100px;
    order: 4;
}

