                                        /* ----- GENERAL ----- */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --lightBlue: #1cb5e0;
    --darkBlue: #000046;
}

                                        /* ----- HEADER ----- */

header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    background-color: var(--darkBlue);
}

header a {
    text-decoration: none;
    color: #f1f1f1;
    opacity: 0.6;
    margin-left: 20px;
    transition-duration: 0.3s;
}

header h2 {
    display: none;
}

header a:hover {
    opacity: 1;
}

header nav {
    margin-right: 20px;
}

                                        /* ----- ACCUEIL ----- */

#accueil {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, var(--lightBlue), var(--darkBlue));
    z-index: 1;
}

.containerNomPhoto {
    width: 75%;
    height: 75%;
    /* border: 1px solid #fff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    /* border: 1px solid #fff; */
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo img {
    height: 75%;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    position: relative;
    top: 20px;
}

.nom {
    /* border: 1px solid #fff; */
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.nom h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.nom p {
    position: absolute;
    bottom: 5px;
    color: #f1f1f1;
}

.bouton {
    /* border: 1px solid #fff; */
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton a {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    text-decoration: none;
    color: #000;
    transition-duration: 0.3s;
}

.bouton a:hover {
    padding: 12px;
    font-size: 1.1em;
    box-shadow: 6px 6px 4px #000;
}

                                        /* ----- PRESENTATION ----- */

#presentation {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-presentation {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloc-presentation h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #010a50;
}

.bloc-presentation p {
    text-align: justify;
    width: 50%;
    /* color: #010a50; */
}

.reseaux {
    width: 100%;
    height: 150px;
    /* border: 1px solid #000; */
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reseaux a {
    font-size: 3em;
    color: #000;
    margin: 0 40px 0 40px;
}

                                        /* ----- COMPETENCES ----- */

#competences {
    background: linear-gradient(to top, var(--darkBlue), var(--lightBlue));
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCompetences {
    width: 95%;
    height: 75%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerCompetences h2 {
    color: #f1f1f1;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    height: 60px;
    margin-top: 60px;
}

.containerLangages {
    width: 80%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carteLangage {
    width: 250px;
    height: 250px;
    border: 1px solid var(--darkBlue);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.carteLangage a {
    text-decoration: none;
    color: #000;
    font-size: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carteLangage h3 {
    color: #000;
}

.carteLangage img {
    width: 50%;
}

.carteLangage:nth-child(1) a {
    color: #f16528;
}

.carteLangage:nth-child(2) a {
    color: #1c6ba6;
}

.carteLangage:nth-child(3) a {
    color: #f7e018;
}

.carteLangage:nth-child(4) a {
    color: #3e49cd;
}

.carteLangage:nth-child(5) a {
    color: #ea2d2f;
}



                                        /* ----- EXPERIENCE ----- */

#experience {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding-bottom: 60px;
}

#experience h2 {
    margin: 100px 0;
}

.expGauche {
    width: 95%;
    height: 250px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.expDroite {
    width: 95%;
    height: 250px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carteExp {
    width: 45%;
    height: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

                                        /* ----- CONTACT ----- */

#contact {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, var(--lightBlue), var(--darkBlue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#contact h2 {
    color: #f1f1f1;
}

.containerForm {
    width: 90%;
    height: 75%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
    height: 90%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
}

.nomPrenom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nomPrenom input {
    width: 40%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    outline: none;
}

.mailTel {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.mailTel input {
    width: 40%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    outline: none;
}

                                        /* ----- FOOTER ----- */

footer {
    width: 100%;
    height: 60px;
    background-color: var(--darkBlue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



                                        /* ----- RESPONSIVE ----- */

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    .containerNomPhoto {
        width: 100%;
    }

    .nom h1 {
        font-size: 2.7em;
    }

    .bloc-presentation p {
        width: 75%;
    }

    .expGauche {
        justify-content: center;
    }

    .expDroite {
        justify-content: center;
    }

    .carteExp {
        width: 90%;
    }
}
