@import url('header.css');
@import url('presentation.css');
@import url('experiences.css');
@import url('portfolio.css');
@import url('contact.css');
@import url('footer.css');

:root {
    --blue: #3498db;
    --blue2: #2980b9;
    --green: #2ecc71;
    --green2: #27ae60;
    --red: #e74c3c;
    --red2: #c0392b;
    --quicksand: 'Quicksand', sans-serif;
    --bangers: 'bangers', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

